/*
Buttons

Button styles used in the styleguide

.btn_blue           - Blue button
.btn_blue:hover     - Blue button hover
.btn_blue:active    - Blue button active
.btn_blue:disabled  - Blue button disabled
.btn_blue14         - Disabled button

markup:
<button class="{$modifiers}">Button text</button>

Styleguide 2.1
*/

/* VARIABLES */

$btnColorBlue: #48C;
$btnBgBlue: rgba(68, 136, 204, 0.1);
$btnBgBlue_Hover: rgba(68, 136, 204, 0.25);
$btnBgBlue_Active: rgba(68, 136, 204, 0.4);

$btnColorGray: #999;
$btnBgGray: rgba(0, 0, 0, 0.1);


/* STYLES */

.btn {

    &_blue,
    &_blue14 {
        display: inline-block;
        background: none;
        padding: 2px;
        margin: 0;
        user-select: none;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        align-self: center;

        &:focus {
            outline-style: none
        }
    }

    &_blue,
    &_blue14 {
        color: $btnColorBlue;
        background: $btnBgBlue;

        &:hover {
            background: $btnBgBlue_Hover;
        }

        &:active {
            background: $btnBgBlue_Active;
        }

        &.disabled,
        &:disabled {
            &, 
            &:hover, 
            &:active {
                color: $btnColorGray;
                background: $btnBgGray; 
            }
        }
    }
    
    &_blue {
        font-size: 12px;
        line-height: 12px;
    }

    &_blue14 {
        font-size: 14px;
        line-height: 14px;
    }

    * + & {
        margin-left: 10px;
    }
}