
/* Main color definitions */
$primary-color: #00c;
$secondary-color: #E4E4E4;
$tertiary-color: #F7FCF1;

/* Button and link colors */
$primary-action-color: #EB7F00;
$default-action-color: #1695A3;
$action-color-change: 5%;
